<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :multipart => true }) do |f| %>
  <h4>ACCOUNT SETTINGS</h4>

  <%= devise_error_messages! %>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.text_field :name, autofocus: true, placeholder: "name", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.text_field :username, placeholder: "username", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.email_field :email, placeholder: "email", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.password_field :password, placeholder: "password", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.text_field :location, placeholder: "location", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.text_area :biography, placeholder: "bio (enter a little bit about yourself here)", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.file_field :profile_image, class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 text-center field solid">
      <%= f.submit "SUBMIT CHANGES", class: "btn btn-primary input" %>
    </div>
  </div>

  <div class="field-row">
    <div class="col-md-12 text-center field solid danger">
      <%= button_to "CANCEL ACCOUNT", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: "btn btn-danger input" %>
    </div>
  </div>
<% end %>
