<div>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <%= image_tag current_user.profile_image_url, class: "circle-image", id: "profile-image" %>
    </li>
    <%= nav_link("MY WRITING", "#") %>
    <%= nav_link "FRIENDS", "#" %>
    <%= nav_link "BOOKSHELF", "#" %>
    <%= nav_link "ACCOUNT", edit_user_registration_path %>
    <%= nav_link "LOGOUT", destroy_user_session_path, method: :delete %>
  </ul>
</div>
