<h1> <%= @project.title %> </h1>
<p> <small><%= @project.language %>, <%= @project.rating %>, <%= @project.genre %> <strong><%= link_to 'Edit', edit_project_path(@project) %></strong></small>
<p><%= @project.text %></p>
