<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="field input-group input-group-lg">
    <%= f.email_field :email, autofocus: true, placeholder: "email", class: "form-control" %>
  </div>

  <div class="field input-group input-group-lg">
    <%= f.password_field :password, placeholder: "password", class: "form-control" %>
  </div>

  <div class="field solid input-group input-group-lg">
    <%= f.label :remember_me, class: "form-control" do %>
        remember
    <% end %>
    <span class="input-group-addon">
        <%= f.check_box :remember_me %>
      </span>
  </div>

  <div class="field solid input-group input-group-lg text-center">
    <span class="input-group-btn">
      <%= f.submit "login", class: "btn btn-primary" %>
    </span>
  </div>
<% end %>

<p class="text-center"><%= link_to "forgot?", new_password_path(resource_name) %></p>
