<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.text_field :login, autofocus: true, placeholder: "username or email", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 field">
      <div class="input-group input-group-lg">
        <%= f.password_field :password, placeholder: "password", class: "form-control input" %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-5">
      <div>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me do %>
            remember me
        <% end %>
      </div>

      <%= link_to "forgot password?", new_password_path(resource_name) %>
    </div>

    <div class="col-md-7 text-center field solid">
      <%= f.submit "LOGIN", class: "btn btn-primary input" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 facebook">
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
    </div>
  </div>
<% end %>
